html
    head
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
        link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")

        block meta
            title= title
            meta(name="description" content="Content description")
            meta(name="keywords" content="Keywords list")

    body
        block header
            include partials/header.pug

        img(src='/images/Kvzq0SDd.jpg')

        block content

        block footer
            include partials/footer.pug